@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy-bold";
  color: #111;
}

html,
body {
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1597200381847-30ec200eeb9a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

.main {
  height: 100vh;
  margin-left: 260px;
  padding: 0px 20px 20px;
  width: calc(100% - 260px);
  /* min-height: 100vh; */
  transition: margin-left 0.3s;
  /* background: #fdf6f0 */
}

.main .profile {
  display: flex;
  justify-content: flex-end; /* Push icons to the right */
  align-items: center;
  width: 100%;
  padding: 10px 20px; /* Adjust padding as needed */
}

.profile i {
  background-color: black;
  padding: 12px;
  font-size: 18px;
  border-radius: 50%;
  color: #f4f3e6;
  margin: 8px;
}

/* .main {
    margin-left: 260px;
    padding: 100px 40px 40px;
    width: calc(100% - 260px);
    min-height: 100vh;
    transition: margin-left 0.3s;
    background: #fdf6f0; 
} */

h1 {
  font-size: 42px;
}

h2{
  margin-top: 70px;
  text-align: center;
  font-size: 30px;
  color: #f4f3e6;
}

.imp{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* width: 500px; */
  font-size: 20px;
}

input,
button {
  padding: 8px;
  border-radius: 10px;
  border: solid 1.3px;
}

#errorMessage{
  text-align: center;
  margin-top: 12px;
}

p {
  font-size: 19px;
  font-style: italic;
}

.top {
  padding: 5px;
}

h4 {
  font-size: 26px;
  margin-top: 25px;
  padding: 5px;
}

.bich {
  padding: 5px;
}

.sidebar {
  width: 240px;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.sidebar ul .list i {
  margin-right: 8px;
  margin-left: 8px;
  color: #111;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li span a{
  color: #111;
  font-size: 33px;
  padding: 15px;
}

.sidebar ul li {
  padding: 20px;
  transition: background 0.3s, transform 0.2s;
}

.sidebar ul li span:hover {
  background: none; /* Pastel green hover effect */
  /* transform: translateX(5px); */
}

.sidebar ul .list:hover {
  /* background: rgb(215, 245, 255);   */
  transform: translateX(5px);
  color: #33539e;
}

.sidebar ul li:hover a,
.sidebar ul li:hover i {
  color: #b84faf;
}

.sidebar ul li a {
  text-decoration: none;
  color: #111;
  display: block;
  font-size: 18px;
  transition: color 0.3s;
}

/* .sidebar ul li a i:hover, 
.sidebar ul li a i.active {
    color: #111;  
    font-weight: bold;
} */

.profile i {
  background-color: black;
  padding: 8px;
  border-radius: 50%;
  color: #f4f3e6;
}

.top h1 span {
  font-family: "poppins";
  font-weight: 900;
  color: #fff;
}
.top h1 {
  color: #000000;
}

.top p {
  color: #fff;
}

h4 {
  color: #3a3333;
}

.bich h4 span {
  color: #f4f3e6;
}

.alert {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: none;
  font-weight: bold;
}
